@media only screen and (min-width: 577px) {
  .article-section-ctn {
    align-items: center;
    margin: 0 0 12px;
  }
}

.article-section-ctn {
  color: #3b3b3b;
  display: flex;
}

.article-header .left {
  text-align: left;
}

@media only screen and (min-width: 577px) {
  .article-headline {
    font-size: 46px;
    font-weight: 700;
    margin: 0 0 16px;
  }
}

.article-headline {
  color: #1f1f1f;
  display: block;
  line-height: 1.2;
}

h1 {
  letter-spacing: normal;
  padding: 0;
}

@media only screen and (min-width: 993px) {
  .article-section,
  .article-section-no-ads {
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media only screen and (min-width: 769px) {
  .article-section {
    display: grid;
    grid-template-areas:
      "header header"
      "article right-rail";
    grid-template-columns: minmax(328px, 1fr) 328px;
    max-width: 1236px;
  }
}

.page-container,
.page-container-centered-1168,
.page-container-centered-1600,
.page-container-liveblogging {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.arrow {
  fill: #3b3b3b;
  height: 8px;
  width: 5px;
}

.article-section-ctn {
  color: #3b3b3b;
}

@media only screen and (min-width: 769px) {
  .byline {
    min-height: 56px;
  }
}

@media only screen and (min-width: 577px) {
  .byline {
    align-items: center;
    padding-bottom: 0;
  }
}

.byline,
.byline-text-wrapper {
  display: flex;
  width: 100%;
}

.byline {
  color: #3b3b3b;
  font-size: 14px;
  flex-direction: row;
}

@media only screen and (min-width: 577px) {
  .body-article .paragraph,
  .body-article .text-element {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 24px;
  }
}

.body-article .paragraph,
.body-article .text-element {
  margin: 0 0 16px;
  text-align: left;
}

body,
figure,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.article,
.article-width-right-rail {
  grid-area: article;
  padding: 0;
  width: 100%;
  z-index: auto;
}

article {
  display: block;
  unicode-bidi: isolate;
}

@media only screen and (min-width: 577px) {
  .headline-class-h2 {
    font-size: 24px;
  }
}

.headline-class-h2,
.headline-class-h3 {
  color: #1f1f1f;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 12px;
}
